# ============================================================
# TaskManager - Gecici Container'lar icin .env degerleri
# Bu dosyadaki degerleri .env dosyaniza kopyalayin
# ============================================================

# PostgreSQL - Auth Service
POSTGRES_AUTH_DB=auth_db
POSTGRES_AUTH_USER=auth_user
POSTGRES_AUTH_PASSWORD=auth_secret_2026


# PostgreSQL - Task Service
POSTGRES_TASK_DB=task_db
POSTGRES_TASK_USER=task_user
POSTGRES_TASK_PASSWORD=task_secret_2026

# MongoDB - Notification Service
MONGO_DB=notification_db
MONGO_USER=notification_user
MONGO_PASSWORD=notification_secret_2026

# Redis
REDIS_PASSWORD=redis_secret_2026

# Kafka
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# MinIO
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_secret_2026
MINIO_BUCKET_NAME=task-attachments

# JWT Secret
JWT_SECRET=bXlTdXBlclNlY3JldEtleUZvckpXVFRva2VuR2VuZXJhdGlvbjIwMjQ=

# Mail (opsiyonel - test icin bos birakilabilir)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
NOTIFICATION_EMAIL_ENABLED=false
